@model IEnumerable<Eating.Areas.Backend.Models.RestaurantStatusVM>
@functions{
    public List<SelectListItem> getStatusList()
    {

        List <SelectListItem> items = new List<SelectListItem>();
        items.Add(new SelectListItem { Text = "全部", Value = "0" });
        items.Add(new SelectListItem { Text = "未確認", Value = "1" });
        items.Add(new SelectListItem { Text = "未通過", Value = "2" });
        items.Add(new SelectListItem { Text = "已通過", Value = "3" });

     
        return items;
    }
        }
    @Html.DropDownList("ddlStatus", new SelectList(getStatusList(), "Value","Text", Convert.ToString(ViewBag.index)))




    <table class="table" id="DataTables">
        <thead>
            <tr>
                <th>統編</th>
                <th>店名</th>
                <th>聯絡電話</th>
                <th>地址</th>
                <th>註冊時間</th>
                <th>驗證狀態</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
        @*@foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_Account)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_PhoneNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_County)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_Area)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.R_DetailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SignUpTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusFlg)
                    </td>
                    <td>
                     
                            @Html.ActionLink("通過", "Check", new { id = item.Id, flg = true})  
                        
                            @Html.ActionLink("拒絕", "Check", new { id = item.Id, flg = false})
                                  
                    </td>
                </tr>
        }*@
    </table>
