@model Eating.ViewModels.RestaurantInfoViewModel
@using (Html.BeginForm("SaveInfo", "Restaurant", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @{string imgPath = Model.ImagePath == null ? "" : Url.Content(Model.ImagePath);}
        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                <img style="width:100%" src="@imgPath"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-1" })
            <div class="col-md-6">
                <input type="file" name="ImageFile" id="ImageFile" value="@imgPath" />
                @Html.HiddenFor(model => model.ImagePath)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R_Name, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-1" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.R_Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.R_Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.R_PhoneNum, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-1" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.R_PhoneNum, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.R_PhoneNum, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-1" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.R_DetailAddress, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-1" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.R_County, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.R_County, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.R_Area, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.R_Area, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                @Html.TextBoxFor(model => model.R_DetailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.R_DetailAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-1" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CloseTime, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-1" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.CloseTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CloseTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input id="saveinfo" type="submit" value="確定修改" class="btn btn-default" onclick="$('#infoForm').submit()" />
            </div>
        </div>
    </div>
                
}


