@model IEnumerable<Eating.ViewModels.MenuListViewModel>

<table class="table" id="menu-table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                名稱
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            for (int i = 0; i < Model.Count(); i++)
            {
                <tr class="">
                    <td class="col-md-2">
                        <span class="preview">
                            <a href="@Model.ElementAt(i).ImgPath" title="@Model.ElementAt(i).FoodName" download="@Model.ElementAt(i).FoodName" data-gallery>
                              @{ var thumbUrl = Model.ElementAt(i).ImgPath.Insert(Model.ElementAt(i).ImgPath.LastIndexOf('/'), "/thumbs");
                                  thumbUrl = thumbUrl.Insert(thumbUrl.LastIndexOf('.'), "80x80");
                                  thumbUrl = thumbUrl.Replace(thumbUrl.Substring(thumbUrl.LastIndexOf(".")), ".jpg");
                                  var inputNameId = "menuName" + i;}
                                <img src="@thumbUrl" />
                            </a>
                        </span>
                    </td>
                    <td class="col-md-3">
                        <input class="form-control " type="text" name="MenuListViewModel[@i].Name" id="@inputNameId" value="@Model.ElementAt(i).FoodName" />
                    </td>
                    <td class="col-md-3 col-md-offset-2">
                        <button class='btn btn-success js-save' menu-id="@Model.ElementAt(i).Id" flg=true><span class='glyphicon glyphicon-ok'></span> 儲存 </button>
                        <button class='btn btn-danger js-delete' menu-id="@Model.ElementAt(i).Id" flg=true><span class='glyphicon glyphicon-remove'></span> 刪除 </button>
                    </td>

                </tr>
            }
        }

    </tbody>
</table>