@model Eating.ViewModels.MemberLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="row">
    <div class="col-md-12" style="text-align:center; font-size:24px; margin-top:10px;">
        <i class="fa  fa-user"></i> <span class="span-title" style="font-size:26px;">登入</span>
    </div>
</div>
<hr style="margin:12px 0px 20px 0px;" />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.R_Account, htmlAttributes: new { @class = "control-label col-md-3 col-md-offset-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.R_Account, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.R_Account, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.R_Password, htmlAttributes: new { @class = "control-label col-md-3  col-md-offset-1" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.R_Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.R_Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-4">
                        <input type="submit" value="登入" class="btn btn-primary" style="background-color:rgba(255, 143, 100, 0.9); border:none;" />
                    </div>
                </div>

            </div>
        }

     </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div>
            <a class="col-md-12" href="/Restaurant/Register" style="padding:10px 0px; text-decoration:none; color:#ececec; font-size:18px; text-align:center;">還沒加入我們嗎? 註冊去!</a>

        </div>

    </div>
</div>

    
