@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@Styles.Render("~/Content/fileupload")

<script>
    $(document).ready(function () {
        $(".js-save").on("click",  function () {
            var $row = $(this).closest("tr");    // Find the row
            var $text = $row.find("input").val(); // Find the text
            $.ajax({
                url: '@Url.Action("SaveMenuName", "Restaurant")',
                    method: "POST",
                    data:{
                        id:$(this).attr('menu-id'),
                        name: $text
                    }
            }).done(function () {
                $row.css("background", "#94ed94");

                }).fail(function () {
                    $row.css("background", "red");

                });

        });

        $(".js-delete").on("click", function () {
            var tr = $(this).closest('tr');
                $.ajax({
                    url: '@Url.Action("DeleteMenu", "Restaurant")',
                    method: "POST",
                    data:{
                        id: $(this).attr('menu-id')
                    }
                }).done(function () {        
                    tr.css("background-color", "#e2e2e2");
                    tr.fadeOut(400, function () {
                        tr.remove();
                    });

                }).fail(function () {
                    bootbox.alert('Error!');
                });
            });
    });



    var $form = null;
    $(function () {

        $form = $('#fileupload').fileupload({
            dataType: 'json'
        });

    });
    $('#fileupload').addClass('fileupload-processing');



    $.ajax({
        type: 'GET',
        contentType: "application/json; charset=utf-8",
        url: '/FileUpload/GetFileList',
        success: function (data) {


            $('#fileupload').fileupload('option', 'done').call($('#fileupload'), $.Event('done'), { result: { files: data.files } })
            $('#fileupload').removeClass('fileupload-processing');
        }

    }

    );
</script>

<section class="col-lg-7 connectedSortable ui-sortable">
    <div class="box box-info" style="position: relative; left: 0px; top: 0px;">
        <div class="box-header ui-sortable-handle" style="">
            <i class="fa fa-info"></i>

            <h3 class="box-title"><b>新增菜單</b></h3>
        </div>
        <div class="box-body">
            @{
                @Html.Partial("_MenuUpload")
            }
        </div>
        <div class="box-footer clearfix">

        </div>
    </div>
</section>
<section class="col-lg-5 connectedSortable ui-sortable">
    <div class="box box-info" style="position: relative; left: 0px; top: 0px;">
        <div class="box-header ui-sortable-handle" style="">
            <i class="fa fa-info"></i>

            <h3 class="box-title"><b>編輯菜單</b></h3>
        </div>
        <div class="box-body">
            @{
                Html.RenderAction("MenuList","Restaurant");
            }
        </div>
        <div class="box-footer clearfix">

        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jQuery-File-Upload")
